body{
        background-color: rgb(243, 220, 191);
}

#start{
        background-color: white;
        color: black;
        padding: 5px;
        border-radius: 25px;
        border:1px solid salmon;
        font-weight: 700;
        width: 80px;
        font-size: 20px;
}
#start:hover{
        background-color: rgb(71, 185, 71);
        color: white;
}
#container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
}
.child{
        margin: 25px;
}
.child > button{
        margin: 0px 15px;
        padding: 8px;
        background-color: white;;
        color: black;
        font-weight: 600;
        border: 1px solid red;
        border-radius: 12px;
}

.child button:hover{
        background-color: salmon;
        color: white;
}

#result{
        font-size: 35px;
        color: black;
        font-weight: 500;
}
#heading{
        color: blue;
}